DISCORD_TOKEN={DISCORD_TOKEN}
TTS_KEY={TTS_KEY}
TTS_URL=https://texttospeech.responsivevoice.org/v1/text:synthesize
CONFIG='{"greetings":{"discord_user_id":[{"command":"sub-folder if assets are grouped in a sub-folder","option":"asset file name if assets are grouped in a sub-folder","_label":"optional, just for config readibility"},{"command":"asset file name of asset file is directly in the assets folder.","option":null}],"discord_user_id_2":[{"command":"...","option":"...","_label":"..."}],"_fallback":[{"command":"...","option":"...","_label":"fallback greeting 1 if user has no specific greeting"},{"command":"...","option":"...","_label":"fallback greeting 2 if user has no specific greeting"}]},"ignored_commands":["ignored","sub-folders","or","asset","files","which","do","not","become","commands"]}'